<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>H+ 后台主题UI框架 - 文章页面</title>
		<meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
		<meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/font-awesome.min.css" rel="stylesheet">

		<link href="../css/animate.min.css" rel="stylesheet">
		<link href="../css/style.min.css" rel="stylesheet">
		<link href="../css/style.css" rel="stylesheet" />
		<link href="../css/global.css" rel="stylesheet" />
		<link href="../css/reset.css" rel="stylesheet" />
	</head>

	<body class="gray-bg">
		<div class="wrapper wrapper-content  article">
			<div class="row">
				<div class="col-sm-7">
					<div class="ibox">
						<div class="ibox-content">
							<div class="pull-right">
								<button class="btn btn-white btn-xs" type="button">700BIKE</button>
								<button class="btn btn-white btn-xs" type="button">BeginOne</button>
								<button class="btn btn-white btn-xs" type="button">乐视超级自行车</button>
							</div>
							<div th:each="content,iterStat:${contents}">
								<th:block th:if="${iterStat.index eq 0}">
									<h1 th:text="${content.contentText}">
                                自行车都智能化了，你可知道它的历史？
                            </h1>
								</th:block>
								<th:block th:unless="${iterStat.index eq 0}">
									<p th:text="${content.contentText}">
										在不少旁观者的眼里，些生活中的庞然大物。
									</p>
									<p>
										兜兜转转之后，这场“瘟疫”又找上了在生活中不那么起眼的自行车。然而，在搭上智能化的顺风车之前，你可知道自行车的历史？虽然，在乐视超级自行车的发布会上，它已经用了自行车史上有着重要地位的三个名字——斯塔利、西夫拉克、阿尔普迪埃——来命名自家的自行车，但那远远不够。Gizmodo 为我们梳理了自行车发展的关键节点。
									</p>
									<p>
										在开始之前，我们先来看看丹麦的设计师制作的动画，一分钟看完自行车近 200 年的演变。
									</p>
									<p>
										比较公认的说法是，第一辆自行车由法国手工艺人西夫拉克（Médé de Sivrac）设计，在两个轮子上安装了支架并配上马鞍，前进的话需要用脚蹬地提供动力。这还只是一个很简单的雏形，没有方向舵，转弯的时候需要骑行者下车抬起前轮，稳定性也不好。
									</p>
									<p>
										德国人杜莱斯（Karl Drais von Sauerbronn）制作了一辆和西夫拉克的设计相近的两轮车子，增加了车把，可以改变行进中的方向，速度可以达到 15km/h。不过，还是需要靠双脚蹬地提供动力。
									</p>
									<p>
										这时候第一辆真正意义上的自行车诞生了，是由苏格兰铁匠麦克米伦（Kirkpatrik Macmillan）设计的，它还有一个专门的名字——Velocipede。
									</p>
									<p>
										在不少旁观者的眼里，智能化几乎成了一种避之唯恐不及的“瘟疫”，开始攀附上大大小小、各式各样的工具和设备，从水杯、灯泡、体重秤这样的小物件，再到冰箱、洗衣机这些生活中的庞然大物。
									</p>
									<p>
										兜兜转转之后，这场“瘟疫”又找上了在生活中不那么起眼的自行车。然而，在搭上智能化的顺风车之前，你可知道自行车的历史？虽然，在乐视超级自行车的发布会上，它已经用了自行车史上有着重要地位的三个名字——斯塔利、西夫拉克、阿尔普迪埃——来命名自家的自行车，但那远远不够。Gizmodo 为我们梳理了自行车发展的关键节点。
									</p>
									<p>
										在开始之前，我们先来看看丹麦的设计师制作的动画，一分钟看完自行车近 200 年的演变。
									</p>
									<p>
										比较公认的说法是，第一辆自行车由法国手工艺人西夫拉克（Médé de Sivrac）设计，在两个轮子上安装了支架并配上马鞍，前进的话需要用脚蹬地提供动力。这还只是一个很简单的雏形，没有方向舵，转弯的时候需要骑行者下车抬起前轮，稳定性也不好。
									</p>
									<p>
										德国人杜莱斯（Karl Drais von Sauerbronn）制作了一辆和西夫拉克的设计相近的两轮车子，增加了车把，可以改变行进中的方向，速度可以达到 15km/h。不过，还是需要靠双脚蹬地提供动力。
									</p>
									<p>
										这时候第一辆真正意义上的自行车诞生了，是由苏格兰铁匠麦克米伦（Kirkpatrik Macmillan）设计的，它还有一个专门的名字——Velocipede。
									</p>
									<p>
										在不少旁观者的眼里，智能化几乎成了一种避之唯恐不及的“瘟疫”，开始攀附上大大小小、各式各样的工具和设备，从水杯、灯泡、体重秤这样的小物件，再到冰箱、洗衣机这些生活中的庞然大物。
									</p>
									<p>
										兜兜转转之后，这场“瘟疫”又找上了在生活中不那么起眼的自行车。然而，在搭上智能化的顺风车之前，你可知道自行车的历史？虽然，在乐视超级自行车的发布会上，它已经用了自行车史上有着重要地位的三个名字——斯塔利、西夫拉克、阿尔普迪埃——来命名自家的自行车，但那远远不够。Gizmodo 为我们梳理了自行车发展的关键节点。
									</p>
								</th:block>

							</div>
							<hr>

						</div>
					</div>
				</div>
				<div class="col-sm-5">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>合法性详情</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">
									<i class="fa fa-wrench"></i>
								</a>
								<ul class="dropdown-menu dropdown-user">
									<li>
										<a href="#">选项1</a>
									</li>
									<li>
										<a href="#">选项2</a>
									</li>
								</ul>
								<a class="close-link">
									<i class="fa fa-times"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<!--<div class="paper-txt P30 paper-section">
															<h4 class="MB10 font-bold">句子的不同颜色代表不同的合法性</h4>
															<ul class="unstyled">
																<li>
																	<span class="notice-diamond red"></span>
																	<span class="text-red MR5">红色</span> 代表合法性在40%以下（重度违法，请全面修改）
																</li>
																<li>
																	<span class="notice-diamond orange"></span>
																	<span class="g-font-color orange MR5">橙色</span> 代表合法性在40%-70%（轻度违法，请酌情修改）
																</li>
																<li>
																	<span class="notice-diamond green"></span>
																	<span class="text-green MR5">绿色</span> 代表合格
																</li>
															</ul>
															<p class="MT15">
																如果要查看句子详细检测结果<br> 请点击报告中红色、橙色标记的部分
															</p>
															<p class="MT20 font-bold">
																本系统包含<span class="text-green">段落修改功能，可以边看边对段落进行修改。</span>
																<br> 临时保存的段落可以在上方“修改文档”里看到，
																<br> 修改过的段落会变成绿色。
																<br>
																<span class="red">本功能受系统环境影响，请尽快将修改后的政策保存在word文档中</span>
															</p>
														</div>-->

							<span id="gototop"></span>
							<div>
								<div class="paper-txt P30">
									<div class="paper-section" style="margin-bottom:0;">
										<div class="font-bold MT5">
											该句相似度：<span class="g-font-color red similarNum">78%</span>
										</div>
										<div class="MT30">
											<p class="font-bold">您的语句：</p>
											<span>通过运行程序来检验程序的动态行为和运行结果的重要性。</span>
										</div>
									</div>
								</div>
								<div>
									<div class="tab-A">
										<ul class="tab-A-ul clearfix unstyled" tab-a="ul">
											<li class="active" data-id="学术期刊,学位论文,学术会议,书籍数据,互联网,自建库,all">
												<span class="tab-text">综合</span>
												<span class="tab-superscript">10</span>
											</li>
											<li data-id="tab,学术期刊,学位论文,学术会议,书籍数据,自建库,local">
												<span class="tab-text">本地库</span>
												<span class="tab-superscript">8</span>
											</li>
											<li data-id="互联网,5">
												<span class="tab-text">互联网</span>
												<span class="tab-superscript">2</span>
											</li>
										</ul>
									</div>
									<div class="none" tab="section" data-id="tab">
										<div class="tab-B clearfix">
											<div class="paper-section P30 PB0 clearfix">
												<span class="tab-B-span pull-left">本地库</span>
												<ul class="tab-B-ul pull-left clearfix unstyled" tab-b="ul">
													<li class="active" data-id="tab,学术期刊,学位论文,学术会议,书籍数据,自建库,local">
														<span class="tab-text">全部</span>
														<span class="tab-superscript">8</span>
														<span class="black-spacer"></span>
													</li>
													<li data-id="tab,学术期刊,1">
														<span class="tab-text">期刊</span>
														<span class="tab-superscript">3</span>
														<span class="black-spacer"></span>
													</li>
													<li data-id="tab,学位论文,2">
														<span class="tab-text">学位</span>
														<span class="tab-superscript">2</span>
														<span class="black-spacer"></span>
													</li>
													<li data-id="tab,学术会议,3">
														<span class="tab-text">会议</span>
														<span class="tab-superscript">0</span>
														<span class="black-spacer"></span>
													</li>
													<li data-id="tab,书籍数据,4">
														<span class="tab-text">图书</span>
														<span class="tab-superscript">3</span>
													</li>
												</ul>
											</div>
											<div class="g-line-row MT30 tab-pane-line"></div>
										</div>
									</div>
									<div class="content-tips">
										<div class="tab-content none" tab="section" data-id="1">
											<div class="paper-txt P30 paper-section clearfix">
												<p class="g-font-color green pull-left">
													在期刊库共找出相似内容：<span>3</span>个
													<p>
														<div class="pull-right">
															<a href="#modify_suggest" class="g-btn g-btn-default g-btn-sm">查看修改意见</a>
														</div>
											</div>
										</div>

										<div class="tab-content none" tab="section" data-id="2">
											<div class="paper-txt P30 paper-section clearfix">
												<p class="g-font-color green pull-left">
													在学位库共找出相似内容：<span>2</span>个
													<p>
														<div class="pull-right">
															<a href="#modify_suggest" class="g-btn g-btn-default g-btn-sm">查看修改意见</a>
														</div>
											</div>
										</div>
										<div class="tab-content none" tab="section" data-id="3">
											<div class="paper-txt P30 paper-section clearfix">
												<p class="g-font-color green pull-left">
													在会议库中没有找到与此句话相似的内容
													<p>
														<div class="pull-right">
														</div>
											</div>
										</div>
										<div class="tab-content none" tab="section" data-id="4">
											<div class="paper-txt P30 paper-section clearfix">
												<p class="g-font-color green pull-left">
													在图书库共找出相似内容：<span>3</span>个
													<p>
														<div class="pull-right">
															<a href="#modify_suggest" class="g-btn g-btn-default g-btn-sm">查看修改意见</a>
														</div>
											</div>
										</div>
										<div class="tab-content none" tab="section" data-id="5">
											<div class="paper-txt P30 paper-section clearfix">
												<p class="g-font-color green pull-left">
													在互联网库共找出相似内容：<span>2</span>个
													<p>
														<div class="pull-right">
															<a href="#modify_suggest" class="g-btn g-btn-default g-btn-sm">查看修改意见</a>
														</div>
											</div>
										</div>
										<!-- 自建库 -->
										<div class="tab-content none" tab="section" data-id="6">
											<div class="paper-txt P30 paper-section clearfix">
												<p class="g-font-color green pull-left">
													在自建库中没有找到与此句话相似的内容
													<p>
														<div class="pull-right">
														</div>
											</div>
										</div>
										<div class="tab-content" tab="section" data-id="all">
											<div class="paper-txt P30 paper-section clearfix">
												<p class="g-font-color green pull-left">
													在本地库和互联网库共找出相似内容：<span>10</span>个
													<p>
														<div class="pull-right">
															<a href="#modify_suggest" class="g-btn g-btn-default g-btn-sm">查看修改意见</a>

														</div>
											</div>
										</div>
										<div class="tab-content none" tab="section" data-id="local">
											<div class="paper-txt P30 paper-section clearfix">
												<p class="g-font-color green pull-left">
													在本地库共找出相似内容：<span>8</span>个
													<p>
														<div class="pull-right">
															<a href="#modify_suggest" class="g-btn g-btn-default g-btn-sm">查看修改意见</a>
														</div>
											</div>
										</div>
									</div>

									<div class="tab-content" tab="section" data-id="学术期刊">
										<div>
											<div class="g-line-row"></div>
											<div class="paper-txt P30">
												<div class="paper-section" style="margin-bottom:0;">
													<div class="clearfix">
														<div class="pull-left">
															<span class="chapter-symbol"></span>
															<span class="chapter-num">1</span>

														</div>
														<div class="font-bold pull-right">
															相似度：<span class="g-font-color red similarNum">78%</span>
														</div>
													</div>
													<div class="MT10">
														<p class="font-bold">您的句子：</p>
														<p class="g-font-color red"><span class="g-underline-text">通过</span><span class="g-underline-text">运行</span>程序<span class="g-underline-text">来</span><span class="g-underline-text">检验</span>程序<span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>重要<span class="g-underline-text">性</span>。</p>

													</div>
													<div class="MT10">
														<p class="font-bold">相似句子：</p>
														<p class="g-font-color green"><span class="g-underline-text">通过</span><span class="g-underline-text">运行</span>软件<span class="g-underline-text">来</span><span class="g-underline-text">检验</span>软件<span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>正确<span class="g-underline-text">性</span>。</p>
													</div>
													<div class="MT10">
														<p class="font-bold">相似原文片段：</p>
														文档进行测试。例如对需求文档的验证和确认，系统设计文档的检查以及程序代码的检查。(2)动态测试动态测试就是<span class="g-font-color green">通过运行软件来检验软件的动态行为和运行结果的正确性。</span>动态测试的主要特征是计算机必须真正运行被测试的程序，通过
													</div>
													<div class="MT10">
														<p class="font-bold">来源（学术期刊）：</p>
														<div class="local-source-detail">
															<b>篇名：</b>《软件测试方法策略浅析》<br><b>作者：</b>张国梅<br><b>作者单位：</b>广东技术师范学院天河学院,广东广州,510540<br><b>参考文献：</b>5篇<br><b>页码：</b>P248—P249<br><b>页数：</b>2页<br><b>分类号：</b>TP311.52<br><b>机标分类号：</b>U4 TU9
															<br><b>期刊名称：</b>《科技广场》<br><b>出版时间：</b>2008年8期<br><b>ISSN：</b>1671-4792<br><b>关键词：</b>软件测试 测试方法 测试步骤 测试策略<br><b>摘要：</b>本文对软件测试的方法、步骤作了介绍,重点对软件测试的策略及当中的单元测试环节做了较详尽的分析.
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
									<div class="tab-content" tab="section" data-id="互联网">
										<div>
											<div class="g-line-row"></div>
											<div class="paper-txt P30">
												<div class="paper-section" style="margin-bottom:0;">
													<div class="clearfix">
														<div class="pull-left">
															<span class="chapter-symbol"></span>
															<span class="chapter-num">2</span>

														</div>
														<div class="font-bold pull-right">
															相似度：<span class="g-font-color red similarNum">74%</span>
														</div>
													</div>
													<div class="MT10">
														<p class="font-bold">您的句子：</p>
														<p class="g-font-color red"><span class="g-underline-text">通过</span><span class="g-underline-text">运行</span>程序<span class="g-underline-text">来</span><span class="g-underline-text">检验</span>程序<span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>重要<span class="g-underline-text">性</span>。</p>

													</div>
													<div class="MT10">
														<p class="font-bold">相似句子：</p>
														<p class="g-font-color green"><span class="g-underline-text">通过</span><span class="g-underline-text">运行</span>软件<span class="g-underline-text">来</span><span class="g-underline-text">检验</span>软件<span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>正确<span class="g-underline-text">性</span><span class="g-underline-text">动态</span></p>
													</div>
													<div class="MT10">
														<p class="font-bold">相似原文片段：</p>
														做检查和审阅，包括：?是否符合标准和规范；?通过结构分析、流图分析、符号执行指出软件缺陷；动态测试：<span class="g-font-color green">通过运行软件来检验软件的动态行为和运行结果的正确性动态</span>测试的两个基本要素：?被测试程序?测试数据（测试用例
													</div>
													<div class="MT10">
														<p class="font-bold">来源（互联网）：</p>
														<div class="local-source-detail">
															<b>标题：</b>第六章软件测试_图文_百度文库<br />
															<a href='https://wenku.baidu.com/view/bf68d1a4f9c75fbfc77da26925c52cc58bd690ee.html' target='_blank'>https://wenku.baidu.com/view/bf68d1a4f9c75fbfc77da26925c52cc58bd690ee.html</a>
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
									<div class="tab-content" tab="section" data-id="互联网">
										<div>
											<div class="g-line-row"></div>
											<div class="paper-txt P30">
												<div class="paper-section" style="margin-bottom:0;">
													<div class="clearfix">
														<div class="pull-left">
															<span class="chapter-symbol"></span>
															<span class="chapter-num">3</span>

														</div>
														<div class="font-bold pull-right">
															相似度：<span class="g-font-color red similarNum">74%</span>
														</div>
													</div>
													<div class="MT10">
														<p class="font-bold">您的句子：</p>
														<p class="g-font-color red"><span class="g-underline-text">通过</span><span class="g-underline-text">运行</span>程序<span class="g-underline-text">来</span><span class="g-underline-text">检验</span>程序<span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>重要<span class="g-underline-text">性</span>。</p>

													</div>
													<div class="MT10">
														<p class="font-bold">相似句子：</p>
														<p class="g-font-color green"><span class="g-underline-text">通过</span><span class="g-underline-text">运行</span>软件<span class="g-underline-text">来</span><span class="g-underline-text">检验</span>软件<span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>正确<span class="g-underline-text">性</span>，</p>
													</div>
													<div class="MT10">
														<p class="font-bold">相似原文片段：</p>
														程序做检查和审阅，包括：是否符合标准和规范；通过结构分析、流图分析、符号执行指出软件缺陷；动态测试：<span class="g-font-color green">通过运行软件来检验软件的动态行为和运行结果的正确性，</span>它的两个基本要素是被测试程序和测试数据（测试用例）
													</div>
													<div class="MT10">
														<p class="font-bold">来源（互联网）：</p>
														<div class="local-source-detail">
															<b>标题：</b> 软件测试总复习_百度文库<br />
															<a href='https://wenku.baidu.com/view/27acece20975f46527d3e14d.html' target='_blank'>https://wenku.baidu.com/view/27acece20975f46527d3e14d.html</a>
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
									<div class="tab-content" tab="section" data-id="书籍数据">
										<div>
											<div class="g-line-row"></div>
											<div class="paper-txt P30">
												<div class="paper-section" style="margin-bottom:0;">
													<div class="clearfix">
														<div class="pull-left">
															<span class="chapter-symbol"></span>
															<span class="chapter-num">4</span>

														</div>
														<div class="font-bold pull-right">
															相似度：<span class="g-font-color red similarNum">71%</span>
														</div>
													</div>
													<div class="MT10">
														<p class="font-bold">您的句子：</p>
														<p class="g-font-color red"><span class="g-underline-text">通过</span><span class="g-underline-text">运行</span>程序<span class="g-underline-text">来</span><span class="g-underline-text">检验</span>程序<span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>重要<span class="g-underline-text">性</span>。</p>

													</div>
													<div class="MT10">
														<p class="font-bold">相似句子：</p>
														<p class="g-font-color green"><span class="g-underline-text">通过</span><span class="g-underline-text">运行</span>软件<span class="g-underline-text">来</span><span class="g-underline-text">检验</span>软件中<span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>正确<span class="g-underline-text">性</span></p>
													</div>
													<div class="MT10">
														<p class="font-bold">相似原文片段：</p>
														成败，因此在这些阶段，静态测试尤为重要。（2）动态测试静态测试不实际运行软件，主要通过人工进行。动态测试是<span class="g-font-color green">通过运行软件来检验软件中的动态行为和运行结果的正确性</span>，也就是通常所说的上机测试。动态测试必须包括两个基本要素：
													</div>
													<div class="MT10">
														<p class="font-bold">来源（书籍数据）：</p>
														<div class="local-source-detail">
															<b>章节：</b>《3.4.3 软件测试技术和方法综述》<br><b>书名：</b>《全国计算机等级考试全能教程 二级公共基础知识》<br><b>作者：</b>全国计算机等级考试命题研究组<br><b>出版社：</b>北京邮电大学出版社<br><b>出版时间：</b>2012-03-01<br><b>ISBN：</b>978-7-5635-2910-0<br><b>摘要：</b>本书主要内容包括：数据结构与算法、程序设计基础、软件工程基础和数据库设计基础，每章末尾设置有"应试加油站"，该板块汇集重点提示、解题技巧等部分。书末附有4套笔试真题和5套模拟试题。
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
									<div class="tab-content" tab="section" data-id="书籍数据">
										<div>
											<div class="g-line-row"></div>
											<div class="paper-txt P30">
												<div class="paper-section" style="margin-bottom:0;">
													<div class="clearfix">
														<div class="pull-left">
															<span class="chapter-symbol"></span>
															<span class="chapter-num">5</span>

														</div>
														<div class="font-bold pull-right">
															相似度：<span class="g-font-color orange similarNum">67%</span>
														</div>
													</div>
													<div class="MT10">
														<p class="font-bold">您的句子：</p>
														<p class="g-font-color orange"><span class="g-underline-text">通过</span><span class="g-underline-text">运行</span>程序<span class="g-underline-text">来</span><span class="g-underline-text">检验</span>程序<span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>重要<span class="g-underline-text">性</span>。</p>

													</div>
													<div class="MT10">
														<p class="font-bold">相似句子：</p>
														<p class="g-font-color green"><span class="g-underline-text">通过</span><span class="g-underline-text">运行</span>软件<span class="g-underline-text">来</span><span class="g-underline-text">检验</span>软件中<span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>正确<span class="g-underline-text">性</span></p>
													</div>
													<div class="MT10">
														<p class="font-bold">相似原文片段：</p>
														的文档或程序不必运行，所以称为静态的。静态测试包括代码检查、静态结构分析、代码质量度量等。（2）动态测试<span class="g-font-color green">通过运行软件来检验软件中的动态行为和运行结果的正确性</span>，也就是通常所说的上机测试。动态测试必须包括两个基本要素
													</div>
													<div class="MT10">
														<p class="font-bold">来源（书籍数据）：</p>
														<div class="local-source-detail">
															<b>章节：</b>《考点4 软件测试》<br><b>书名：</b>《全国计算机等级考试考眼分析与样卷解析 二级公共基础知识》<br><b>作者：</b>全国计算机等级考试命题研究组<br><b>出版社：</b>北京邮电大学出版社<br><b>出版时间：</b>2012-01-01<br><b>ISBN：</b>978-7-5635-2790-8<br><b>摘要：</b>本书分为上、下两篇：考眼分析和样卷解析。介绍了数据结构与算法、程序设计基础、软件工程基础、数据库设计基础；对考点、重点、难点内容进行解释与剖析；精选常考题型与历年真题进行解析；并提供16套模拟试卷。
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
									<div class="tab-content" tab="section" data-id="学位论文">
										<div>
											<div class="g-line-row"></div>
											<div class="paper-txt P30">
												<div class="paper-section" style="margin-bottom:0;">
													<div class="clearfix">
														<div class="pull-left">
															<span class="chapter-symbol"></span>
															<span class="chapter-num">6</span>

														</div>
														<div class="font-bold pull-right">
															相似度：<span class="g-font-color orange similarNum">67%</span>
														</div>
													</div>
													<div class="MT10">
														<p class="font-bold">您的句子：</p>
														<p class="g-font-color orange">通过<span class="g-underline-text">运行</span><span class="g-underline-text">程序</span><span class="g-underline-text">来</span><span class="g-underline-text">检验</span><span class="g-underline-text">程序</span><span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>重要性。</p>

													</div>
													<div class="MT10">
														<p class="font-bold">相似句子：</p>
														<p class="g-font-color green"><span class="g-underline-text">来</span><span class="g-underline-text">运行</span><span class="g-underline-text">程序</span>，以<span class="g-underline-text">检验</span><span class="g-underline-text">程序</span><span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span><span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span>，从而发现</p>
													</div>
													<div class="MT10">
														<p class="font-bold">相似原文片段：</p>
														审查、代码走查和界面检查，主要由人工进行，还包括主要由软件工具自动执行的静态分析。动态测试使用测试用例<span class="g-font-color green">来运行程序，以检验程序的动态行为和运行结果，从而发现</span>软件的错误，它包括三部分核心内容：生成测试用例、
													</div>
													<div class="MT10">
														<p class="font-bold">来源（学位论文）：</p>
														<div class="local-source-detail">
															<b>篇名：</b>《基于改进遗传算法的测试用例自动生成研究》<br><b>作者：</b>杨清平<br><b>分类号：</b>TP301.6<br><b>学科专业：</b>管理科学与工程<br><b>授予学位：</b>硕士<br><b>导师姓名：</b>莫赞<br><b>学位授予单位：</b>广东工业大学<br><b>学位年度：</b>2011<br><b>关键词：</b>软件测试 自动化测试 测试用例生成 遗传算法 路径全覆盖
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
									<div class="tab-content" tab="section" data-id="学位论文">
										<div>
											<div class="g-line-row"></div>
											<div class="paper-txt P30">
												<div class="paper-section" style="margin-bottom:0;">
													<div class="clearfix">
														<div class="pull-left">
															<span class="chapter-symbol"></span>
															<span class="chapter-num">7</span>

														</div>
														<div class="font-bold pull-right">
															相似度：<span class="g-font-color orange similarNum">46%</span>
														</div>
													</div>
													<div class="MT10">
														<p class="font-bold">您的句子：</p>
														<p class="g-font-color orange">通过<span class="g-underline-text">运行</span><span class="g-underline-text">程序</span>来检验<span class="g-underline-text">程序</span><span class="g-underline-text">的</span><span class="g-underline-text">动态</span>行为<span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span><span class="g-underline-text">重要</span>性。</p>

													</div>
													<div class="MT10">
														<p class="font-bold">相似句子：</p>
														<p class="g-font-color green">例、<span class="g-underline-text">运行</span><span class="g-underline-text">程序</span><span class="g-underline-text">和</span>验证<span class="g-underline-text">程序</span><span class="g-underline-text">的</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span>。<span class="g-underline-text">动态</span>测试最<span class="g-underline-text">重要</span><span class="g-underline-text">的</span></p>
													</div>
													<div class="MT10">
														<p class="font-bold">相似原文片段：</p>
														机真正运行程序，以进行检查、分析程序的执行状态和程序的外部表现。动态测试包括三部分核心内容：生成测试用<span class="g-font-color green">例、运行程序和验证程序的运行结果。动态测试最重要的</span>问题是生成侧试用例的策略，它是动态测试有效、高效的关键
													</div>
													<div class="MT10">
														<p class="font-bold">来源（学位论文）：</p>
														<div class="local-source-detail">
															<b>篇名：</b>《基于路径覆盖的测试数据自动生成方法研究》<br><b>作者：</b>李永彦<br><b>分类号：</b>TP311.52<br><b>学科专业：</b>软件工程<br><b>授予学位：</b>硕士<br><b>导师姓名：</b>曾文华<br><b>学位授予单位：</b>厦门大学<br><b>学位年度：</b>2012<br><b>关键词：</b>并行演化测试算法 路径覆盖 测试数据 遗传算法
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
									<div class="tab-content" tab="section" data-id="学术期刊">
										<div>
											<div class="g-line-row"></div>
											<div class="paper-txt P30">
												<div class="paper-section" style="margin-bottom:0;">
													<div class="clearfix">
														<div class="pull-left">
															<span class="chapter-symbol"></span>
															<span class="chapter-num">8</span>

														</div>
														<div class="font-bold pull-right">
															相似度：<span class="g-font-color orange similarNum">43%</span>
														</div>
													</div>
													<div class="MT10">
														<p class="font-bold">您的句子：</p>
														<p class="g-font-color orange">通过运行<span class="g-underline-text">程序</span><span class="g-underline-text">来</span>检验<span class="g-underline-text">程序</span><span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span>和运行结果<span class="g-underline-text">的</span>重要性。</p>

													</div>
													<div class="MT10">
														<p class="font-bold">相似句子：</p>
														<p class="g-font-color green">系统<span class="g-underline-text">的</span>静态描述<span class="g-underline-text">来</span>理解<span class="g-underline-text">程序</span><span class="g-underline-text">的</span><span class="g-underline-text">动态</span><span class="g-underline-text">行为</span>。构造<span class="g-underline-text">程序</span><span class="g-underline-text">的</span>切片实际</p>
													</div>
													<div class="MT10">
														<p class="font-bold">相似原文片段：</p>
														方法。在一定程度上可以减少修改对系统稳定度的影响。保障软件维护工作正常进行。2．4程序理解程序理解是通过<span class="g-font-color green">系统的静态描述来理解程序的动态行为。构造程序的切片实际</span>上是构造初始程序的一个简化版本。把用户所关心的变量
													</div>
													<div class="MT10">
														<p class="font-bold">来源（学术期刊）：</p>
														<div class="local-source-detail">
															<b>篇名：</b>《程序切片技术及其应用的研究》<br><b>作者：</b>蔡素梅<br><b>作者单位：</b>华南师范大学,增城学院,计算机系,广东,广州,511363<br><b>参考文献：</b>9篇<br><b>页码：</b>P44—P46<br><b>分类号：</b>TP301<br><b>机标分类号：</b>TP3 G71
															<br><b>期刊名称：</b>《软件导刊》<br><b>出版时间：</b>2010年11期<br><b>ISSN：</b>1672-7800<br><b>关键词：</b>程序切片 静态程序切片 动态程序切片 切片准则
															<br><b>摘要：</b>程序切片技术是一种在程序调试、测试、代码理解和软件维护等领域用来分析和理解程序的技术,它具有简化问题、缩小目标范围的特性.首先从程序切片的基本概念演化、切片的分类以及基本应用等方面比较系统地研究了现在已经存在的一些程序切片技术成果,最后总结了程序切片技术存在的一些问题并对其作出展望.
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
									<div class="tab-content" tab="section" data-id="书籍数据">
										<div>
											<div class="g-line-row"></div>
											<div class="paper-txt P30">
												<div class="paper-section" style="margin-bottom:0;">
													<div class="clearfix">
														<div class="pull-left">
															<span class="chapter-symbol"></span>
															<span class="chapter-num">9</span>

														</div>
														<div class="font-bold pull-right">
															相似度：<span class="g-font-color orange similarNum">42%</span>
														</div>
													</div>
													<div class="MT10">
														<p class="font-bold">您的句子：</p>
														<p class="g-font-color orange">通过<span class="g-underline-text">运行</span><span class="g-underline-text">程序</span><span class="g-underline-text">来</span>检验<span class="g-underline-text">程序</span><span class="g-underline-text">的</span>动态行为和<span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>重要性。</p>

													</div>
													<div class="MT10">
														<p class="font-bold">相似句子：</p>
														<p class="g-font-color green">可以<span class="g-underline-text">运行</span>应用<span class="g-underline-text">程序</span><span class="g-underline-text">来</span>浏览应用<span class="g-underline-text">程序</span><span class="g-underline-text">的</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span>。<span class="g-underline-text">运行</span>应用<span class="g-underline-text">程序</span>之前</p>
													</div>
													<div class="MT10">
														<p class="font-bold">相似原文片段：</p>
														-9所示。第3章应用程序37图3-9对象库搜索表3.5运行应用程序当应用程序创建完毕，就<span class="g-font-color green">可以运行应用程序来浏览应用程序的运行结果。运行应用程序之前</span>，首先应打开该应用程序，单击主工具栏上的Run工具栏
													</div>
													<div class="MT10">
														<p class="font-bold">来源（书籍数据）：</p>
														<div class="local-source-detail">
															<b>章节：</b>《第3章 应用程序》<br><b>书名：</b>《PowerBuilder实用教程 数据库应用系统开发》<br><b>作者：</b>宋晔, 张弘<br><b>出版社：</b>北京理工大学出版社<br><b>出版时间：</b>2002-06-30<br><b>ISBN：</b>7-81045-891-4<br><b>摘要：</b>本教程不仅涵盖了利用PowerBuilder进行数据库应用系统开发的基本方法和技术，还概述了PowerBuilder应用系统开发所应掌握和了解的基本理论知识和基本概念。
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>
									<div class="tab-content" tab="section" data-id="学术期刊">
										<div>
											<div class="g-line-row"></div>
											<div class="paper-txt P30">
												<div class="paper-section" style="margin-bottom:0;">
													<div class="clearfix">
														<div class="pull-left">
															<span class="chapter-symbol"></span>
															<span class="chapter-num">10</span>

														</div>
														<div class="font-bold pull-right">
															相似度：<span class="g-font-color orange similarNum">41%</span>
														</div>
													</div>
													<div class="MT10">
														<p class="font-bold">您的句子：</p>
														<p class="g-font-color orange">通过<span class="g-underline-text">运行</span><span class="g-underline-text">程序</span>来检验<span class="g-underline-text">程序</span><span class="g-underline-text">的</span><span class="g-underline-text">动态</span>行为<span class="g-underline-text">和</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>重要<span class="g-underline-text">性</span>。</p>

													</div>
													<div class="MT10">
														<p class="font-bold">相似句子：</p>
														<p class="g-font-color green">基于<span class="g-underline-text">程序</span><span class="g-underline-text">动态</span><span class="g-underline-text">运行</span><span class="g-underline-text">的</span>依赖信息<span class="g-underline-text">和</span><span class="g-underline-text">程序</span><span class="g-underline-text">运行</span><span class="g-underline-text">结果</span><span class="g-underline-text">的</span>正确<span class="g-underline-text">性</span>，</p>
													</div>
													<div class="MT10">
														<p class="font-bold">相似原文片段：</p>
														的应用局限性，本文重点研究根据动态切片的正确性统计概率计算程序语句调试优先度的可行性，并提出解决方案：<span class="g-font-color green">基于程序动态运行的依赖信息和程序运行结果的正确性，</span>构造一个贝叶斯信度网络，估计程序语句造成程序错误的概率
													</div>
													<div class="MT10">
														<p class="font-bold">来源（学术期刊）：</p>
														<div class="local-source-detail">
															<b>篇名：</b>《基于概率推演的动态程序切片优先度计算方法》<br><b>作者：</b>夏嘉斌<br><b>作者单位：</b>上海交通大学软件学院,上海,200240<br><b>参考文献：</b>16篇<br><b>页码：</b>P12—P16<br><b>页数：</b>5页<br><b>分类号：</b>TP311.53<br><b>机标分类号：</b>TP3 TN9
															<br><b>基金项目：</b>国家自然科学基金资助项目(60673120)<br><b>期刊名称：</b>《计算机与现代化》<br><b>出版时间：</b>2013年3期<br><b>ISSN：</b>1006-2475<br><b>关键词：</b>动态切片 程序调试 概率推演 自动化程序分析 错误定位<br><b>摘要：</b>为了提高程序调试的效率,本文提出一种基于概率推演自动计算动态程序切片中每条语句的正确概率并赋予优先度的方法.首先从程序运行过程抽取其相应的动态依赖关系图；然后根据依赖关系转化成贝叶斯网络；最后在该网络上运行概率推演并统计,得到程序静态语句的正确概率.使用具有优先度的动态程序切片结果可进一步提高调试人员定位缺陷和分析故障的效率.实验表明本方法平均可将实际错误排名在切片结果的前20.2％.
														</div>
													</div>
												</div>
											</div>

										</div>

									</div>

									<!--语句修改建议-->
									<span id="modify_suggest"></span>
									<div id="advice">
										<div class="g-line-row"></div>
										<div class="paper-txt P30 PB0">
											<div class="paper-section">
												<p class="g-font-s16 font-bold g-font-color green MB10">该句修改建议（重度相似，请全面修改）</p>
												<span class="g-font-color green"><span class="g-font-color red">通过</span><span class="g-font-color red">运行</span>程序来<span class="g-font-color red">检验</span>程序的<span class="g-font-color red">动态</span><span class="g-font-color red">行为</span>和<span class="g-font-color red">运行</span><span class="g-font-color red">结果</span>的重要<span class="g-font-color red">性</span>。</span>
												<div class="MT10">
													<p class="font-bold">同义词：</p>
													<ul class="local-source-detail">
														<li class="g-font-color green"><span class="g-font-color red">运行：</span>运转 运作 周转</li>
														<li class="g-font-color green"><span class="g-font-color red">通过：</span>越过 穿过 穿越</li>
														<li class="g-font-color green"><span class="g-font-color red">检验：</span>查验 检修 检讨</li>
														<li class="g-font-color green"><span class="g-font-color red">结果：</span>成效 成果 成绩</li>
													</ul>

												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="back-to-top text-center">
									<a href="#gototop" class="font-bold g-font-color green">回到顶部</a>
								</div>
								<div class="paper-footer">
									<p>检测报告由
										<a href="http://www.paperpass.com/" target="_black">PaperPass</a>文献相似度检测系统生成</p>
									<p>Copyright © 2007-2018 PaperPass</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

		</div>

		<script src="../js/jquery.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/content.min.js"></script>
		<script type="text/javascript" src="../js/Lib.js"></script>
	</body>

</html>