<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>H+ 后台主题UI框架 - 文章页面</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/font-awesome.min.css" rel="stylesheet">

    <link href="../css/animate.min.css" rel="stylesheet">
    <link href="../css/style.min.css" rel="stylesheet">
    <link href="../css/plugins/checkweight/global.css" rel="stylesheet"/>
    <link href="../css/plugins/toastr/toastr.min.css" rel="stylesheet">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content  animated fadeInRight article">
    <div class="row">
        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right ">
                        <button class="btn btn-white btn-xs" type="button">700BIKE</button>
                        <button class="btn btn-white btn-xs" type="button">BeginOne</button>
                        <button class="btn btn-white btn-xs" type="button">乐视超级自行车</button>
                    </div>
                    <div th:each="content,iterStat:${policy_review_contentList}">
                        <th:block th:if="${iterStat.index eq 0}">
                            <h1 th:text="${content.contentText}" style="font-size: 30px;">
                                自行车都智能化了，你可知道它的历史？
                            </h1>
                        </th:block>
                        <th:block th:unless="${iterStat.index eq 0}">


                            <p th:if="${content.similarityDegree>=70}">
                                <a href="javascript:void(0)"
                                   th:onclick="'javascript:showByContent('+${content.reviewId}+',\''+${policy_contents.get(0).policyId}+'\','+${content.contentId}+');'"
                                   class="g-font-color red"
                                   th:text="${content.contentText}">
                                </a>
                            </p>
                            <p th:if="${content.similarityDegree>=40&&content.similarityDegree<70}">
                                <a href="javascript:void(0)"
                                   th:onclick="'javascript:showByContent('+${content.reviewId}+',\''+${policy_contents.get(0).policyId}+'\','+${content.contentId}+');'"
                                   class="g-font-color orange"
                                   th:text="${content.contentText}">
                                </a>
                            </p>
                            <p th:text="${content.contentText}" th:if="${content.similarityDegree<40}">
                                在不少旁观者的眼里，些生活中的庞然大物。
                            </p>
                        </th:block>
                        <a href="policycompare/getContentDetail?reviewid=&policyId=&contentId=1"></a>
                    </div>
                    <hr>

                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="ibox">
                <div class="ibox-content">
                    <div class="pull-right">
                        <button class="btn btn-white btn-xs" type="button">700BIKE</button>
                        <button class="btn btn-white btn-xs" type="button">BeginOne</button>
                        <button class="btn btn-white btn-xs" type="button">乐视超级自行车</button>
                    </div>
                    <div th:each="content,iterStat:${policy_contents}">
                        <th:block th:if="${iterStat.index eq 0}">
                            <h1 th:text="${content.contentText}" style="font-size: 30px;">
                                自行车都智能化了，你可知道它的历史？
                            </h1>
                        </th:block>
                        <th:block th:unless="${iterStat.index eq 0}">
                            <p th:text="${content.contentText}" th:id="${content.contentId}">
                                在不少旁观者的眼里，些生活中的庞然大物。
                            </p>
                        </th:block>

                    </div>
                    <hr>

                </div>
            </div>
        </div>

    </div>

</div>
<script src="../js/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/content.min.js"></script>
<script src="../js/plugins/toastr/toastr.min.js"></script>
<script th:inline="javascript">
    //页面加载时将内容
    $(document).ready(function () {
        var reviewContentId = [[${contentId}]];
        var policyId = [[${policy_contents.get(0).policyId}]];
        var reviewId = [[${policy_review_contentList.get(0).reviewId}]]
        var list;
        $.ajax({
            url: "/policycompare/getContentSimilarityByPolicyId",
            type: "post",
            dataType: "json",
            async: false,
            data: {
                reviewContentId: reviewContentId,
                policyId: policyId
            },
            success: function (response) {
                list = response;
            },
            error: function (response) {
                toastr.error("信息获取失败");
                return;
            }
        });
        resetColor(list, reviewId, policyId);

    })

    function showByContent(reivewId, policyId, reviewContentId) {
        var list;
        $.ajax({
            url: "/policycompare/getContentSimilarityByPolicyId",
            type: "post",
            dataType: "json",
            async: false,
            data: {
                reviewContentId: reviewContentId,
                policyId: policyId
            },
            success: function (response) {
                list = response;
            },
            error: function (response) {
                toastr.error("信息获取失败");
                return;
            }
        });
        resetColor(list, reivewId, policyId);
    }

    function resetColor(list, reivewId, policyId) {
        if (list.length == 0) {
            toastr.info("查找失败");
            return;
        }
        var j = 0;//用来统计查找到的数据相似度是否超过40
        //本次循环只是判断是否需要更新操作
        list.forEach(function (policySimilarity) {
            if (policySimilarity.similarityDegree >= 40) {
                j++;
            }
        })
        if (j == 0) {
            toastr.info("未找到有用的数据")
            return;
        }
        //判断完不用修改的情况，接下来需要修改样式：1.清空当前页之前设置的效果 2.设置新的效果

        //清空当前页缓存中的字段的效果
        for (var i = 0; i < localStorage.length; i++) {
            var key = localStorage.key(i);
            var item = JSON.parse(localStorage.getItem(key));
            var keys = key.split(",");
            if (keys[0] == reivewId && keys[1] == "" + policyId) {
                if (item.similarityDegree >= 70) {
                    $("#" + item.similarityContentId).removeClass("g-font-color red");
                    localStorage.removeItem(key);
                } else if (item.similarityDegree >= 40) {
                    $("#" + item.similarityContentId).removeClass("g-font-color orange");
                    localStorage.removeItem(key);
                }
            }
        }
        //设置右边文档属性变为对应的颜色
        list.forEach(function (policySimilarity) {
            var contentId = policySimilarity.similarityContentId;
            if (policySimilarity.similarityDegree >= 70) {
                $("#" + contentId).addClass("g-font-color red");
                var key = "" + reivewId + "," + policyId + "," + contentId;
                localStorage.setItem(key, JSON.stringify(policySimilarity));
            }
            else if (policySimilarity.similarityDegree >= 40) {
                $("#" + contentId).addClass("g-font-color orange");
                var key = "" + reivewId + "," + policyId + "," + contentId;
                localStorage.setItem(key, JSON.stringify(policySimilarity));
            }
        })
        toastr.success("共找到" + j + "条相关数据");
    }
</script>
</body>

</html>