<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="stdu.wzw.mapper.Policy_review_analysisMapper">
    <resultMap id="BaseResultMap" type="stdu.wzw.model.Policy_review_analysis">
        <id column="analysis_id" property="analysisId" jdbcType="INTEGER"/>
        <result column="review_id" property="reviewId" jdbcType="INTEGER"/>
        <result column="content_id" property="contentId" jdbcType="INTEGER"/>
        <result column="analysis_result" property="analysisResult" jdbcType="VARCHAR"/>
        <result column="analysis_sesitive" property="analysisSesitive" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="INTEGER"/>
        <result column="similarity_degree" property="similarityDegree" jdbcType="INTEGER"/>
        <result column="legitimacy" property="legitimacy" jdbcType="INTEGER"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="stdu.wzw.model.Policy_review_analysis" extends="BaseResultMap">
        <result column="analysis_name" property="analysisName" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    analysis_id, review_id, content_id, analysis_result, analysis_sesitive, type, similarity_degree, 
    legitimacy
  </sql>
    <sql id="Blob_Column_List">
    analysis_name
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from policyreviewanalysis
        where analysis_id = #{analysisId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from policyreviewanalysis
    where analysis_id = #{analysisId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="stdu.wzw.model.Policy_review_analysis">
    insert into policyreviewanalysis (analysis_id, review_id, content_id, 
      analysis_result, analysis_sesitive, type, 
      similarity_degree, legitimacy, analysis_name
      )
    values (#{analysisId,jdbcType=INTEGER}, #{reviewId,jdbcType=INTEGER}, #{contentId,jdbcType=INTEGER}, 
      #{analysisResult,jdbcType=VARCHAR}, #{analysisSesitive,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{similarityDegree,jdbcType=INTEGER}, #{legitimacy,jdbcType=INTEGER}, #{analysisName,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="stdu.wzw.model.Policy_review_analysis">
        insert into policyreviewanalysis
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="analysisId != null">
                analysis_id,
            </if>
            <if test="reviewId != null">
                review_id,
            </if>
            <if test="contentId != null">
                content_id,
            </if>
            <if test="analysisResult != null">
                analysis_result,
            </if>
            <if test="analysisSesitive != null">
                analysis_sesitive,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="similarityDegree != null">
                similarity_degree,
            </if>
            <if test="legitimacy != null">
                legitimacy,
            </if>
            <if test="analysisName != null">
                analysis_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="analysisId != null">
                #{analysisId,jdbcType=INTEGER},
            </if>
            <if test="reviewId != null">
                #{reviewId,jdbcType=INTEGER},
            </if>
            <if test="contentId != null">
                #{contentId,jdbcType=INTEGER},
            </if>
            <if test="analysisResult != null">
                #{analysisResult,jdbcType=VARCHAR},
            </if>
            <if test="analysisSesitive != null">
                #{analysisSesitive,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="similarityDegree != null">
                #{similarityDegree,jdbcType=INTEGER},
            </if>
            <if test="legitimacy != null">
                #{legitimacy,jdbcType=INTEGER},
            </if>
            <if test="analysisName != null">
                #{analysisName,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="stdu.wzw.model.Policy_review_analysis">
        update policyreviewanalysis
        <set>
            <if test="reviewId != null">
                review_id = #{reviewId,jdbcType=INTEGER},
            </if>
            <if test="contentId != null">
                content_id = #{contentId,jdbcType=INTEGER},
            </if>
            <if test="analysisResult != null">
                analysis_result = #{analysisResult,jdbcType=VARCHAR},
            </if>
            <if test="analysisSesitive != null">
                analysis_sesitive = #{analysisSesitive,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="similarityDegree != null">
                similarity_degree = #{similarityDegree,jdbcType=INTEGER},
            </if>
            <if test="legitimacy != null">
                legitimacy = #{legitimacy,jdbcType=INTEGER},
            </if>
            <if test="analysisName != null">
                analysis_name = #{analysisName,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where analysis_id = #{analysisId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="stdu.wzw.model.Policy_review_analysis">
    update policyreviewanalysis
    set review_id = #{reviewId,jdbcType=INTEGER},
      content_id = #{contentId,jdbcType=INTEGER},
      analysis_result = #{analysisResult,jdbcType=VARCHAR},
      analysis_sesitive = #{analysisSesitive,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      similarity_degree = #{similarityDegree,jdbcType=INTEGER},
      legitimacy = #{legitimacy,jdbcType=INTEGER},
      analysis_name = #{analysisName,jdbcType=LONGVARCHAR}
    where analysis_id = #{analysisId,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="stdu.wzw.model.Policy_review_analysis">
    update policyreviewanalysis
    set review_id = #{reviewId,jdbcType=INTEGER},
      content_id = #{contentId,jdbcType=INTEGER},
      analysis_result = #{analysisResult,jdbcType=VARCHAR},
      analysis_sesitive = #{analysisSesitive,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      similarity_degree = #{similarityDegree,jdbcType=INTEGER},
      legitimacy = #{legitimacy,jdbcType=INTEGER}
    where analysis_id = #{analysisId,jdbcType=INTEGER}
  </update>

    <select id="getCountByReviewId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select
    count(analysis_id)
    from policyreviewanalysis
    where analysis_id = #{analysisId,jdbcType=INTEGER}
  </select>
    <select id="getByReviewId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from policyreviewanalysis
        where review_id = #{reviewId,jdbcType=INTEGER}
    </select>

    <select id="getByReviewIdAndType" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from policyreviewanalysis
        where review_id = #{reviewId,jdbcType=INTEGER}
        AND type = #{type,jdbcType=INTEGER}
    </select>
    <select id="getBasedByReviewId" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from policyreviewanalysis
        where review_id = #{reviewId,jdbcType=INTEGER}
        AND type &lt;
        10
    </select>
</mapper>