<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="stdu.wzw.mapper.Policy_contentMapper">
    <resultMap id="BaseResultMap" type="stdu.wzw.model.Policy_content">
        <id column="content_id" property="contentId" jdbcType="INTEGER"/>
        <result column="policy_id" property="policyId" jdbcType="INTEGER"/>
        <result column="location" property="location" jdbcType="INTEGER"/>
        <result column="summary" property="summary" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="stdu.wzw.model.Policy_content" extends="BaseResultMap">
        <result column="content_text" property="contentText" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    content_id, policy_id, location, summary
  </sql>
    <sql id="Blob_Column_List">
    content_text
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from policycontent
        where content_id = #{contentId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from policycontent
    where content_id = #{contentId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="stdu.wzw.model.Policy_content">
    insert into policycontent (content_id, policy_id, location, 
      summary, content_text)
    values (#{contentId,jdbcType=INTEGER}, #{policyId,jdbcType=INTEGER}, #{location,jdbcType=INTEGER}, 
      #{summary,jdbcType=VARCHAR}, #{contentText,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="stdu.wzw.model.Policy_content">
        insert into policycontent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contentId != null">
                content_id,
            </if>
            <if test="policyId != null">
                policy_id,
            </if>
            <if test="location != null">
                location,
            </if>
            <if test="summary != null">
                summary,
            </if>
            <if test="contentText != null">
                content_text,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contentId != null">
                #{contentId,jdbcType=INTEGER},
            </if>
            <if test="policyId != null">
                #{policyId,jdbcType=INTEGER},
            </if>
            <if test="location != null">
                #{location,jdbcType=INTEGER},
            </if>
            <if test="summary != null">
                #{summary,jdbcType=VARCHAR},
            </if>
            <if test="contentText != null">
                #{contentText,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="stdu.wzw.model.Policy_content">
        update policycontent
        <set>
            <if test="policyId != null">
                policy_id = #{policyId,jdbcType=INTEGER},
            </if>
            <if test="location != null">
                location = #{location,jdbcType=INTEGER},
            </if>
            <if test="summary != null">
                summary = #{summary,jdbcType=VARCHAR},
            </if>
            <if test="contentText != null">
                content_text = #{contentText,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where content_id = #{contentId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="stdu.wzw.model.Policy_content">
    update policycontent
    set policy_id = #{policyId,jdbcType=INTEGER},
      location = #{location,jdbcType=INTEGER},
      summary = #{summary,jdbcType=VARCHAR},
      content_text = #{contentText,jdbcType=LONGVARCHAR}
    where content_id = #{contentId,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="stdu.wzw.model.Policy_content">
    update policycontent
    set policy_id = #{policyId,jdbcType=INTEGER},
      location = #{location,jdbcType=INTEGER},
      summary = #{summary,jdbcType=VARCHAR}
    where content_id = #{contentId,jdbcType=INTEGER}
  </update>
    <!--根据政策id获取政策内容信息-->
    <select id="selectByPolicyId" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from policycontent
        where policy_id = #{policyId,jdbcType=INTEGER}
    </select>
    <!--根据政策id统计政策的内容数-->
    <select id="countByPolicyId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select
    count(content_id)
    from policycontent
    where policy_id = #{policyId,jdbcType=INTEGER}
  </select>
    <!--根据政策id删除政策内容-->
    <delete id="deleteByPolicyId" parameterType="java.lang.Integer">
    delete from policycontent
    where policy_id = #{policyId,jdbcType=INTEGER}
  </delete>
</mapper>