<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>H+ 后台主题UI框架 - 客户管理</title>
		<meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
		<meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<link href="../css/font-awesome.min.css" rel="stylesheet">

		<link href="../css/animate.min.css" rel="stylesheet">
		<link href="../css/style.min.css" rel="stylesheet">

	</head>

	<body class="gray-bg">
		<div class="wrapper wrapper-content  animated fadeInRight">
			<div class="row">
				<div class="ibox">
					<div class="ibox-title">
						<div class="row">
							<div class="col-sm-12">
								<div class="m-b-md">
									<!-- <a href="#" class="btn btn-white btn-xs pull-right">编辑项目</a>-->
									<h2>01河北省地方税务局关于企业所得税若干业务问题的公告</h2>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8">
								<dl class="dl-horizontal">

									<dt>政策作者:</dt>
									<dd>张三</dd>
									<dt>提交时间:</dt>
									<dd>2018-10-28 21:49:36</dd>
								</dl>
							</div>
							<div class="col-sm-2" id="cluster_info">
								<dl class="dl-horizontal">

									<dt>政策字数:</dt>
									<dd>1752</dd>
									<dt>段落个数:</dt>
									<dd>64</dd>
									<dt>句子个数:</dt>
									<dd>86</dd>

								</dl>
							</div>
							<div class="col-sm-2" id="cluster_info">
								<dl class="dl-horizontal">

									<dt>总体相似度</dt>
									<!--<dd>70%</dd>-->
									<dt>70%</dt>
									<dt>	<div class="progress progress-striped active m-b-sm">
                                            <div style="width: 70%;" class="progress-bar"></div>
                                        </div></dt>

								</dl>
							</div>
						</div>
					</div>
					<div class="ibox-content">
						<div class="clients-list">
							<ul class="nav nav-tabs">
								<li class="active">
									<a data-toggle="tab" href="#tab-1"><i class="fa  fa-archive"></i> 详细报告</a>
								</li>
								<li class="">
									<a data-toggle="tab" href="#tab-2"><i class="fa  fa-archive "></i> 综合评估</a>
								</li>
								<li class="">
									<a data-toggle="tab" href="#tab-3"><i class="fa  fa-archive "></i> 修改文档</a>
								</li>
								<li class="">
									<a data-toggle="tab" href="#tab-4"><i class="fa  fa-archive "></i> 查看原文</a>
								</li>
								<li class="">
									<a data-toggle="tab" href="#tab-5"><i class="fa  fa-archive "></i> 打印PDF</a>
								</li>
							</ul>
							<div class="tab-content">
								<div id="tab-1" class="tab-pane active">
									<div class="full-height-scroll">
										<div class="row diff-wrapper2">
											<div class="col-md-5 col-md-offset-1">
												<h4>原政策</h4>
												<textarea class="form-control diff-textarea" id="original" rows="200">百度新闻是包含海量资讯的新闻服务平台,真实反映每时每刻的新闻热点。您可以搜索新闻事件、人物动态、产品资讯等,快速了解它们的最新进展。
                                    </textarea>
											</div>
											<div class="col-md-5">
												<h4>相似政策</h4>
												<textarea class="form-control diff-textarea" id="changed" rows="200">“百度新闻”是包含海量资讯的新闻服务性质的新闻平台，真实反映新闻热点。您可以搜索新闻事件、热点话题、人物动态、资讯等，快速了解它们的最新进展。
                                    </textarea>
											</div>
										</div>
									</div>
								</div>
								<div id="tab-2" class="tab-pane">
									<div class="full-height-scroll">
										<div class="row diff-wrapper2">
											<div class="col-md-5 col-md-offset-1">
												<h4>原政策</h4>
												<textarea class="form-control diff-textarea" id="original" rows="200">百度新闻是包含海量资讯的新闻服务平台,真实反映每时每刻的新闻热点。您可以搜索新闻事件、人物动态、产品资讯等,快速了解它们的最新进展。
                                    </textarea>
											</div>
											<div class="col-md-5">
												<h4>相似政策2</h4>
												<textarea class="form-control diff-textarea" id="changed" rows="200">“百度新闻”是包含海量资讯的新闻服务性质的新闻平台，真实反映新闻热点。您可以搜索新闻事件、热点话题、人物动态、资讯等，快速了解它们的最新进展。
                                    </textarea>
											</div>
										</div>
									</div>
								</div>
								<div id="tab-3" class="tab-pane">
									<div class="full-height-scroll">
										<div class="row diff-wrapper2">
											<div class="col-md-5 col-md-offset-1">
												<h4>原政策</h4>
												<textarea class="form-control diff-textarea" id="original" rows="200">百度新闻是包含海量资讯的新闻服务平台,真实反映每时每刻的新闻热点。您可以搜索新闻事件、人物动态、产品资讯等,快速了解它们的最新进展。
                                    </textarea>
											</div>
											<div class="col-md-5">
												<h4>相似政策3</h4>
												<textarea class="form-control diff-textarea" id="changed" rows="200">“百度新闻”是包含海量资讯的新闻服务性质的新闻平台，真实反映新闻热点。您可以搜索新闻事件、热点话题、人物动态、资讯等，快速了解它们的最新进展。
                                    </textarea>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/jquery.min.js"></script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
		<script src="../js/content.min.js"></script>
		<script>
			$(function() {
				$(".full-height-scroll").slimScroll({
					height: "100%"
				})
			});
		</script>

	</body>

</html>